<div id="homebg" fxLayout="column" fxLayoutAlign="start center">
    <img class="logo" src="/assets/images/logo.png" alt="">
    <span id="header_website_big_title" routerLink="/">What's on Campus</span>

    <span id="home_subtitle">Stay up to date with all the events happening around your campus</span>

    <span fxLayout="column" fxFill>
        <span fxLayout="column" fxLayoutAlign="start center">
            <span class="bottomTitles">
                Users!
            </span>
            <button mat-button routerLink="/events">
            Click here to look for events!
            </button>
        </span>
        <span fxLayout="column" fxLayoutAlign="start center">
            <span class="bottomTitles">
                Associations!
            </span>
            <a mat-button target="_blank"
               href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=hacksquadpr@gmail.com&tf=1">
                Email to hacksquadpr@gmail.com for an account!
            </a>

        </span>
    </span>
</div>
