<form (ngSubmit)="changePassword()" class="form" [formGroup]="changePassForm">

    <mat-grid-list cols="4" rowHeight="24px" class="event_grid">
        <mat-grid-tile [colspan]="4" [rowspan]="4">
            <h2>Change Password</h2>
        </mat-grid-tile>
        <mat-grid-tile *ngIf='error' [colspan]="4" [rowspan]="2">
            <h5>{{errorMessage}}</h5>
        </mat-grid-tile>
        <mat-grid-tile *ngIf='success' [colspan]="4" [rowspan]="2">
            <h3 id="passsuccess">Password Changed successufully!</h3>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="4">
            <mat-form-field appearance="outline" class="loginInput">
                <mat-label>Current Password</mat-label>
                <input matInput type="password" placeholder="Current Password" [(ngModel)]="passwords.current"
                       formControlName="password">
                <mat-error *ngIf="passwordFormControl.hasError('required')">
                    Current password is required
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="4">
            <mat-form-field appearance="outline" class="loginInput">
                <mat-label>New Password</mat-label>
                <input matInput type="password" placeholder="New Password" [(ngModel)]="passwords.new"
                       formControlName="newpassword">
                <mat-error *ngIf="newFormControl.hasError('required')">
                    New Password is required
                </mat-error>
                <mat-error *ngIf="newFormControl.hasError('minlength')">
                    New Password is required
                </mat-error>
                <mat-error *ngIf="newFormControl.hasError('equivalent')">
                    New Password cannot be same as current password
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="4">
            <mat-form-field appearance="outline" class="loginInput">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" placeholder="Confirm Password" [(ngModel)]="passwords.confirm"
                       formControlName="passwordConfirm">
                <mat-error *ngIf="confirmFormControl.hasError('required') ||
                                confirmFormControl.hasError('notEquivalent')">
                    Password doesn't match
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="4">
            <button type="submit" mat-raised-button class="btn" id="changeButton" [disabled]="changePassForm.invalid">
                Change Password
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</form>
